<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header app-header">
  <div class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      <h3>Path Finder</h3>
      <div id="deloitte-dot"></div>
    </div>
    <div class="mdl-layout--large-screen-only mdl-layout__header-row">
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
      <a [routerLink]="['/path']" class="mdl-layout__tab is-active" >Path</a>
      <a [routerLink]="['/employees']" class="mdl-layout__tab">Employees</a>
      <a href="#features" class="mdl-layout__tab">Printers</a>
      <a href="#features" class="mdl-layout__tab">Conference Rooms</a>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
      </button>
    </div>
  </div>
</div>
